<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link type="text/css" href="/style.css" rel="stylesheet" />
    <script src="/dashboard.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragliding Dashboards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="row align-items-center header">
        <div class="col-6 col-nowrap">
            <p class="pageHeader">Can I fly?</p>
            <p class="pageSubHeader">Southern Sites Dashboard</p>
        </div>
        <div class="col-6 text-end col-nowrap">
            <div class="btn-group" id="speedUnitSelection" role="group" aria-label="Select wind speed unit">
                <button type="button" class="btn btn-secondary btn-sm active" onclick="showWindSpeed('windSpeedMph')">MPH</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="showWindSpeed('windSpeedKph')">KPH</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="showWindSpeed('windSpeedMs')">MS</button>
            </div>
        </div>
    </div>
</div>

<div class="forecastContainer">
    <div class="row">
        <% if (!forecastData || forecastData.length === 0) { %>
            <div class="alert alert-danger" role="alert">
                Error: Forecast data is not available.
            </div>
        <% } %>
        <% forecastData.forEach(function(dayData, index) { %>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                <div>
                    <div>
                        <%= dayData[0].fullDay %>
                    </div>
                    <div>
                        <% dayData.forEach(function(forecast) { %>
                            <% if (forecast && forecast.windDirectionCompass) { %>
                                <div class="flying-card rounded <%= forecast.weatherClassification %>">
                                    <div class="timeHeader">
                                        <div class="circle <%= forecast.flyingConditions %>"></div>
                                        <small><%= ('0' + new Date(forecast.time).getUTCHours()).slice(-2) %>:00 - </small>
                                        <strong>
                                            <% if (forecast && forecast.sites) { %>
                                                <%= forecast.sites.join(', ') %>
                                            <% } %>
                                        </strong>
                                    </div>
                                    <div class="dir-<%= forecast.windDirectionCompass.toLowerCase() %> arrow-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                                        </svg>
                                    </div>
                                    
                                    <!-- <div class="rainProbability arrow-container">
                                        <img src="/<%= forecast.weatherClassification %>" alt="Weather Icon" style="width: 20px; height: 20px;" />
                                    </div> -->
                                    
                                    <div class="windStrength ">
                                        <div class="windSpeedMph"><strong><%= forecast.windSpeedMph %>mph</strong> to <strong><%= forecast.windGustMph %>mph</strong></div>
                                        <div class="hidden windSpeedKph"><strong><%= forecast.windSpeedKph %>kph</strong> to <strong><%= forecast.windGustKph %>kph</strong></div>
                                        <div class="hidden windSpeedMs"><strong><%= forecast.windSpeed10m %>ms</strong> to <strong><%= forecast.windGustSpeed10m %>ms</strong></div>
                                    </div>
                                    
                                    
                                    <div class="graphLoaders">
                                        <!-- <a href="" onclick="showBlipSpot(<%= JSON.stringify(forecast.correlatedSiteTurnPoints) %>, '<%= forecast.fullDay %>'); return false;">
                                            RASP Blipspot
                                        </a> -->
                                        RASP: 
                                        <% forecast.correlatedSiteTurnPoints.forEach(function(site) { %>
                                            <a href="" onclick="showBlipSpot(<%= JSON.stringify(site) %>, '<%= forecast.fullDay %>'); return false;"><%= site.label %></a>&nbsp; 
                                        <% }); %> 
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">RASP by Turn Point</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselImages">
                        <!-- Images will be dynamically added here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>