<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K3LMGNPW');
    </script>
    <script>
        // Initialize the dataLayer
        window.dataLayer = window.dataLayer || [];

        // Create the gtag function that pushes to the dataLayer
        function gtag() {
            dataLayer.push(arguments);
        }

        // Set consent defaults
        gtag('consent', 'default', {
            analytics_storage: localStorage.getItem('silktideCookieChoice_analytics') === 'true' ? 'granted' : 'denied',
            ad_storage: localStorage.getItem('silktideCookieChoice_marketing') === 'true' ? 'granted' : 'denied',
            ad_user_data: localStorage.getItem('silktideCookieChoice_marketing') === 'true' ? 'granted' : 'denied',
            ad_personalization: localStorage.getItem('silktideCookieChoice_marketing') === 'true' ? 'granted' : 'denied',
            functionality_storage: localStorage.getItem('silktideCookieChoice_necessary') === 'true' ? 'granted' : 'denied',
            security_storage: localStorage.getItem('silktideCookieChoice_necessary') === 'true' ? 'granted' : 'denied'
        });
    </script>

    <!-- End Google Tag Manager -->
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="/<%= revManifest['css/style.css'] %>">
    <link rel="manifest" href="/site.webmanifest">
    <script src="/<%= revManifest['script/dashboard.js'] %>"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragliding Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3LMGNPW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
<div class="container-fluid">
    <div class="row align-items-center header">
        <div class="col-6 col-nowrap">
            <p class="pageHeader">Can I fly?</p>
            <p class="pageSubHeader">Southern Sites Dashboard</p>
        </div>
        <div class="col-6 text-end col-nowrap">
            <div class="btn-group" id="speedUnitSelection" role="group" aria-label="Select wind speed unit">
                <button type="button" class="btn btn-secondary btn-sm active" onclick="showWindSpeed('windSpeedMph')">MPH</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="showWindSpeed('windSpeedKph')">KPH</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="showWindSpeed('windSpeedMs')">MS</button>
            </div>
            <div class="btn-group ms-2" id="forecastRangeSelection" role="group" aria-label="Select forecast range">
                <button type="button" class="btn btn-primary btn-sm" onclick="setForecastRange(false)">Weekend</button>
                <button type="button" class="btn btn-primary btn-sm active" onclick="setForecastRange(true)">Week</button>
            </div>
        </div>
    </div>
</div>

<div class="forecastContainer">
    <div class="row">
        <% if (!forecastData || forecastData.length === 0) { %>
            <div class="alert alert-danger" role="alert">
                Error: Forecast data is not available.
            </div>
        <% } %>
        <!-- For each day of the week in the data -->
        <% forecastData.forEach(function(dayData, index) { %>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3 <%= dayData[0].fullDay %>">
                <div class="forecastCard">
                    <div class="forecastCardHeader">
                        <%= dayData[0].fullDay %> 
                        <%= new Date(dayData[0].time).toLocaleDateString('en-GB', { day: 'numeric', month: 'long' }).replace(/(\d+)/, (match) => {
                            const day = parseInt(match);
                            const suffix = day % 10 === 1 && day !== 11 ? 'st' : 
                                           day % 10 === 2 && day !== 12 ? 'nd' : 
                                           day % 10 === 3 && day !== 13 ? 'rd' : 'th';
                            return day + suffix;
                        }) %>
                    </div>
                    <% if (index === 0) { %>
                        <div id="flyingNow" class="flying-card">
                            <div class="flyingNowHeader"><strong>Currently flying</strong> <small>(<a href="#" onclick="displayFlyingPilots()">refresh</a>)</small></div>
                            <div id="pilotsFlying">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <!-- For each timeSlot in a day -->
                    <% dayData.forEach(function(timeSlot) { %>
                        <div class="flying-card ">
                            <% if (timeSlot.forecastCollection && timeSlot.forecastCollection.length > 1) { %>
                                <small><%= ('0' + new Date(timeSlot.time).getUTCHours()).slice(-2) %>:00</small>
                            <% } %>
                            <!-- For each forecast within a timeslot -->
                            <% timeSlot.forecastCollection.forEach(function(forecast, index) { %>
                                <% if (forecast && forecast.windDirectionCompass) { %>
                                    <div class="timeHeader<%= index > 0 ? ' subsequentTimeSlot' : '' %>">
                                        <% if (timeSlot.forecastCollection.length == 1) { %>
                                            <small><%= ('0' + new Date(forecast.time).getUTCHours()).slice(-2) %>:00</small>
                                        <% } %> 
                                        <% if (forecast && forecast.sites) { %>
                                            <strong><%= forecast.sites.join(', ') %></strong>
                                        <% } %>
                                        
                                        <% if (forecast.sites.join(', ') !== 'No flyable sites') { %>
                                            <div class="circle <%= forecast.flyingConditions %>"></div>
                                        <% } %>
                                    </div>
                                    
                                    <div class="windStrength <%= forecast.sites.join(', ') === 'No flyable sites' ? 'hidden' : '' %>">
                                        <strong><%= forecast.windDirectionCompass.toUpperCase() %></strong>
                                        <span class="windSpeedMph"><%= forecast.windSpeedMph %>mph <small>(<%= forecast.windGustMph %>mph)</small></span>
                                        <span class="hidden windSpeedKph"><%= forecast.windSpeedKph %>kph <small>(<%= forecast.windGustKph %>kph)</small></span>
                                        <span class="hidden windSpeedMs"><%= forecast.windSpeed10m %>ms <small>(<%= forecast.windGustSpeed10m %>ms)</small></span>
                                        &nbsp;&nbsp;&nbsp;<img src="/img<%= forecast.weatherClassification.img %>" alt="Weather Icon" style="width: 30px; height: 30px;" />&nbsp;&nbsp;&nbsp;
                                        <span class="temperature"><%= Math.round(forecast.temperature) %>°C</span>
                                    </div>
                                    
                                    <% if (forecast.correlatedSiteTurnPoints && forecast.correlatedSiteTurnPoints.length > 0) { %>
                                        <% forecast.correlatedSiteTurnPoints.forEach(function(site) { %>
                                            <% if (site.blipspotUrl || site.skewtUrl) { %>
                                            <div class="graphLoaders <%= forecast.flyingConditions === 'notFlyable' ? 'hidden' : '' %>">
                                                <%= site.label %>: 
                                                    <% if (site.blipspotUrl) { %>
                                                        <a href="#" onclick="showImageModal(<%= JSON.stringify(site.blipspotUrl) %>, 'Blipspot - <%= site.label %> - <%= dayData[0].fullDay %>'); return false;">Blipspot</a>&nbsp;
                                                    <% } %>
                                                    <% if (site.skewtUrl) { %>
                                                        <a href="#" onclick="showImageModal(<%= JSON.stringify(site.skewtUrl) %>, 'SkewT - <%= site.label %> - <%= dayData[0].fullDay %>'); return false;">SkewT</a>&nbsp;
                                                    <% } %>
                                                </div>
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                <% } %>
                            <% }); %>  
                        </div>
                    <% }); %>
                    
                </div>
            </div>
        <% }); %>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselImages">
                        <!-- Images will be dynamically added here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer py-3 bg-light footer">
        <div class="container text-center">
            <small>
                <span class="text-muted">© <%= new Date().getFullYear() %> Can I Fly. All rights reserved. </span>
                | <a href="/privacy-policy.html" class="text-muted">Privacy Policy</a>  
                | <a href="mailto:support@canifly.co.uk?subject=Can%20I%20Fly%20Feedback" class="text-muted">Contact</a>
            </small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>